@inherits LayoutComponentBase

<div class="page" dir="rtl">
    <header class="site-header">
        <NavMenu />
    </header>

    <main class="site-main">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    خطایی رخ داد.
    <a href="" class="reload">بارگذاری دوباره</a>
    <a class="dismiss">×</a>
</div>
